#root {
	background:url("/Images/snowwhite.png") no-repeat center center fixed;
	background-size: cover;

}

#background-container {
	width:58%;
}

#profileTitle {
	text-align: center;
}

#profileName {
	text-align: center;
}

#aboutMe {
	text-align: center;
	border: black double 5px;
	margin-bottom: 50px;
}

.progress {
	background-color: #f5f5f5;
}

#profile-info{
	display: flex;
	justify-content: center;
	border: black double 10px;
	padding: 5 5 5 5;
	background-color: white;

}


#rating{
		border: black double 5px;
		margin-top: 20px;
		margin-right: 100px;
		margin-bottom: 20px;
		padding-right: 20px;
		width:49%;


}

.thumbnail {
		border: black double 5px;
}

.blog-post {
	display:flex;
	justify-content: space-around;
	flex-direction: column;
/*	border: black double 8px;*/

}
#profPic {
/*	margin-left: 10px;*/
	margin-bottom: 60px;
  width:100%;
  margin-top: 20px;
}
#blogging{
border-top: black solid 8px;
width: 100%;
}
.postPic{
	max-height: 500px;
	padding-right: 10px;
	width:100%;
}
.postTitle{
	cursor: pointer;
	font-size: 36pt;
	color:black;
	font-family: 'Bungee inline', cursive;

}