
h1 {
		font-family:'Bungee Inline', cursive;
		size: 36pt;
}

h2 {
	font-family: 'Vibur', cursive;
	text-align: center;

}

h3 {
	font-family: 'Rancho', cursive;
}

h4 {
 font-family:'Rancho', cursive;
}

input {
	color:black;
}

.panel-body {
	font-family:'Rancho', cursive;
	font-size: 16pt;
	border: black double 5px;
	width: 95%;
	margin-left: 32px;

}