#siteTitle{
	font-size: 70px;
	padding-right: 10px;
}

#loginSubmit{
/*	position:absolute;*/
	top: 110px;
	right:10%;
	border:black solid 2px;
	font-family: 'Vibur', cursive;
	font-size: 20pt;
	width: 125px;
}
#loginPassword{
	/*position:absolute;*/
/*	right:10px;
	top:1px;*/
	font-size: 14pt;
	font-family: 'Vibur', cursive;
}
#loginEmail{

	font-family: 'Vibur', cursive;
}
.left-header-col{

}
.right-header-col {
	display:flex;
	align-items:flex-start;
	justify-content: left;
	flex-direction: row;
	color:pink;
}

.bottom-header {
	color: blue;
	display: flex;
	justify-content: space-around;
	

}
.submit-button{
	color:black;
	justify-content: center;
}


@media screen and (max-width: 900px) {
    #loginSubmit{
	position:absolute;
	top: 110px;
	right:30%;
	}
	#loginPassword{
		position:absolute;
		right:45%;
		top:70px;
	}
	#loginEmail{
		position:absolute;
		right:75%;
		top:70px;
	}
}
#create{
	cursor: pointer;
	font-family: 'Vibur', cursive;
	font-size: 20pt;
	margin-left: 10px;

}