#siteTitle{
	font-size: 85px;
	padding-right: 10px;
}
.homeHeader {
	display:flex;
	align-items: center;
}

.form-container {
	width:250px;
}
#loginSubmit{
	border:black double 5px;
	font-family: 'Vibur', cursive;
	font-size: 20pt;
	width: 125px;
}
#loginPassword {

	font-size: 18pt;
	font-family: 'Vibur', cursive;

}
#loginEmail {
	font-family: 'Vibur', cursive;

}
.left-header-col{
	font-size: 24pt;
	width:70%;
}
.right-header-col {
	color:gray;
	width: 30%;
	
}

.bottom-header {
	color: black;
	display: flex;
	justify-content:flex-start;
	width:100%;
	margin: 0 auto;

}
.submit-button{
	color:black;
	color:black;
	width: 90%;
	margin: 0 auto;
}

input {
	font-size: 18pt !important;
	font-family: 'Rancho', cursive;
}
.input-field label {
	top:0;
	left:0;
	font-size: 20pt;
}


@media screen and (max-width: 900px) {
    .homeHeader {
    	flex-direction: column;
	
	}
	.img-container{
		flex-wrap: wrap;
	}
	#loginPassword{
	
	}
	#loginEmail{
	
	}
}
#create{
	cursor: pointer;
	font-family: 'Vibur', cursive;
	font-size: 20pt;
	margin-left: 10px;

}