.navbar {
	background-color: #515151; 
	border-radius: 0;
	font-family:'Rancho', cursive;
	font-size: 32pt;
}

.navbar-inverse .navbar-brand {

	font-size: 36pt;
	font-family: 'Bungee Inline', cursive;
}

nav ul a {
	font-size: .75em;
}