.hiking {
	color:black;
	font-family: 'Vibur', cursive;
	border:black double 3px;
	height:400px;
	margin-bottom: 2px;
}


.mountain-biking {
	color:black;
	border:black double 3px;
	height:300px;
	margin-bottom: 2px;
	font-family: 'Vibur', cursive;
}

.fishing {
	color:black;
	border:black double 3px;
	padding-top: 10px;
	height:300px;
	margin-bottom: 2px;
	font-family: 'Vibur', cursive;
}

.Footer {
	margin-top: 20px;
}

